.Hero {
  height: 100vh;
  background: url(./background.jpeg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes underlineExpansion {
  0% {
    width: 0px;
 }
 100% {
   width: 100%;
  }
}

.Hero__title {
  font-family: 'Muli', sans-serif;
  font-size: 80px;
  color: #FFF;

  &:after {
    content: '';
  	display: block;
  	margin: auto;
  	height: 3px;
  	width: 0px;
  	background: white;
  	animation: underlineExpansion 1s 1 1.5s forwards;
  }
}
